<!DOCTYPE html>
<html lang="en" ng-app="linkedInApp">
<head>
    <meta charset="UTF-8">
    <title>Lê Anh Tuấn | Linkedin</title>
    <link rel="icon" href="picture/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/mycss.css">
    <script src="./js/angular.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/popModal.css">

    <script src="./js/app.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script>

    <script src="http://cdn.jsdelivr.net/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script src="js/popModal.js"></script>

</head>
<body  ng-controller= "content-controller"  background="./picture/bg-texture.png">
    <div class ="Wrapper" >
        <!-- thanh tìm kiếm và background -->
        <nav class="navbar navbar-inverse">
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i></button>
            </form>
            <div class="row">
                <div >
                    <img  id="cover" alt="cover" ng-src= "{{cover}}"/>
                </div>
            </div>
        </nav>

        <!-- TopCard -->
        <div class = "container">
            <div class ="container_topCar">
                    <div class = "row">
                        <div class = "col-lg-3">
                            <img  ng-src="{{avatar}}" height="250" width="250" alt="avatar">
                        </div>
                        <div class = "col-lg-6">
                            <div class="col-lg-1">
                            </div>
                            <div class="col-lg-11">
                                <h1 >
                                    <b>{{name[0]}}&nbsp {{ name[1]}}</b> &nbsp&nbsp&nbsp
                                    <!-- button edit rename work -->
                                    <span style="display: inline;" class="page_container">
                                        <span class="page active" data-page="popModal">
                                              <button id="editName" class="edit-name-button" ng-click = "buldingTextRename()"  >
                                                    <img src = "./picture/edit.png">
                                              </button>
                                        </span>
                                    </span>
                                </h1>

                                <h2>{{possition}}&nbsp&nbsp&nbsp
                                    <!-- button edit curren work -->
                                    <span style="display: inline;" class="page_container">
                                        <span class="page active" data-page="popModal">
                                                    <button id="editCurrenWork" class="edit-name-button" ng-click = "buldingTextReCurrenWork()"} >
                                                        <img src = "./picture/edit.png">
                                                    </button>
                                        </span>
                                    </span>
                                </h2>
                                <li>
                                    <span style="display: inline">
                                        <a href="https://www.linkedin.com/vsearch/p?f_G=us%3A84&trk=prof-0-ovw-location" title="">{{work.location}}</a> |
                                        <a href="https://www.linkedin.com/vsearch/p?f_I=6&trk=prof-0-ovw-industry" title="">{{work.industry}} &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
                                        <!-- button edit curren work -->
                                        <span style="display: inline;" class="page_container">
                                                <span class="page active" data-page="popModal">
                                                     <button id="editWork" class="edit-name-button" ng-click = "buldingTextWork()"} >
                                                         <img src = "./picture/edit.png">
                                                     </button>
                                                </span>
                                        </span>
                                        <br/>


                                    </span>
                                    <a href="#" title=""> Current</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="https://www.linkedin.com/company/1337?trk=prof-0-ovw-curr_pos" title=""> {{experience[0].companyName}}</a>,
                                    <a href="https://www.linkedin.com/company/1666?trk=prof-0-ovw-curr_pos" title=""> {{experience[1].companyName}} </a>,
                                    <a href="https://www.linkedin.com/company/33101?trk=prof-0-ovw-curr_pos" title=""> {{experience[2].companyName}} </a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <!-- button edit Current work -->
                                    <span style="display: inline;" class="page_container">
                                        <span class="page active" data-page="popModal">
                                              <button  class="edit-name-button" ng-click = "editWorkTopShow();" >
                                                    <img src = "./picture/edit.png">
                                              </button>
                                        </span>
                                    </span>
                                    <br/>

                                    <a href="#" title=""> Previous </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="https://www.linkedin.com/company/695380?trk=prof-0-ovw-prev_pos" title=""> {{experience[5].companyName}} </a>,
                                    <a href="https://www.linkedin.com/company/17412?trk=prof-0-ovw-prev_pos" title=""> {{experience[6].companyName}} </a>,
                                    <a href="https://www.linkedin.com/company/17412?trk=prof-0-ovw-prev_pos" title=""> {{experience[7].companyName}}</a> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <!-- button edit Previous work -->
                                    <span style="display: inline;" class="page_container">
                                        <span class="page active" data-page="popModal">
                                              <button  class="edit-name-button" ng-click = "editWorkTopShow();" >
                                                    <img src = "./picture/edit.png">
                                              </button>
                                        </span>
                                    </span>
                                    <br/>

                                    <a href="#" title=""> Education </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="https://www.linkedin.com/edu/school?id=19329&trk=prof-0-ovw-edu" title=""> {{education.name}}</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                                    <!-- button edit Education work -->
                                    <span style="display: inline;" class="page_container">
                                        <span class="page active" data-page="popModal">
                                              <button  class="edit-name-button" ng-click = "editEducationTopShow();" >
                                                    <img src = "./picture/edit.png">
                                              </button>
                                        </span>
                                    </span>
                                    <br/><br/>
                                </li>
                                <button type="button" id= "btn_follow" > <b>Folowing </b></button>
                                <button type="button" id="btn_arrow"> <b> </b>
                                    <span class = "caret"></span>
                                </button>
                                <a>&nbsp;&nbsp;&nbsp; Know {{name[0]}} ? </a><br/>
                                <a href="https://www.linkedin.com/people/invite?from=profile&key=22330283&firstName=Jeff&lastName=Weiner&authToken=XTo9&authType=name&connectionParam=member_desktop_profile_influencer&csrfToken=ajax%3A1694616679711342258&goback=%2Enppvan_jeffweiner08&trk=nprofile-flw_connect" title=""> <b>&nbsp;&nbsp;&nbsp; Connect</b> </a>
                             </div>
                        </div>

                        <div class = "col-lg-3">
                            <div  class = "col-lg-5">
                            </div>
                            <div class ="col-lg-5">
                                <br/>
                                <a  href="https://www.linkedin.com/pulse/discover" >
                                    <img src="./picture/influencer.png" alt="Icon">
                                </a>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <br/>
                                <h1 style="float: right;"><b> {{followers}}</b></h1>
                                <h4 style="float: right;"> fllowers</h4>
                            </div>

                    </div>
                </div>
                <div class="row" row = 40>
                    <div class="col-lg-10" style="height: 40px">
                        <div class="profile-extra" >
                            <a href="#">
                                <div class="col-lg-4">
                                    <div class="col-lg-1">
                                        <img src = "./picture/in.png" width="13px" height="13px"/>
                                    </div>
                                    <div class="col-lg-11">
                                        <a href="https://www.linkedin.com/in/jeffweiner08" title="">{{profileURL}}</a> <br/><br/>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <div class="profile-contact" >
                            <a href="#">
                                <div class="col-lg-2">
                                    <img src = "./picture/contact-idle.png">
                                </div>
                                <div class="col-lg-10">
                                    <p>Contact Info </p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end TopCard -->


        <!--profile -->
        <div class = "container">
            <!--Background -->
            <div class = "container_title_background">
                <div class ="row">
                    <div class ="col-lg-1">
                    </div>
                    <div class ="col-lg-4">
                        <h3><center> <b>Background </b> </center></h3>
                    </div>
                </div>
            </div>
            <div class = "container_background">
                <div class = "row">
                    <div class = "col-lg-4">
                        <div class = "col-lg-3">
                            <img src="./picture/header-summary.png" height="40" width="40" alt="summary">
                        </div>
                        <div class = "col-lg-6">
                            <h2> Summary &nbsp&nbsp&nbsp
                                <!-- button edit Summary -->
                                    <span style="display: inline;" class="page_container">
                                        <span class="page active" data-page="popModal">
                                                    <button id="editSummary" class="edit-name-button" ng-click = "buldingTextReSummary()"} >
                                                        <img src = "./picture/edit.png">
                                                    </button>
                                        </span>
                                    </span>
                            </h2>
                        </div>
                    </div>

                </div>

                <h4 ng-bind-html="summary"> {{summary}} </h4>


            </div>
            <hr/>

            <!--start  Experience-->
            <div id = "id-editWorkTopShow" class = "container_background">
                <div class = "row">
                    <div class = "col-lg-4">
                        <div class = "col-lg-3">
                            <img src="./picture/header-experience.png" height="40" width="40" alt="summary">
                        </div>
                        <div class = "col-lg-6">
                            <h2 > Experience &nbsp;&nbsp;&nbsp;
                                    <span style="display: inline;" class="page_container">
                                           <span class="page active" data-page="popModal">
                                                 <button id="addExperience" class="edit-name-button"} >
                                                      <img src ="./picture/add.png"/>
                                                 </button>
                                           </span>
                                    </span>
                            </h2>
                        </div>
                    </div>
                </div>

                <div class="editBox-container" ng-repeat="e in experience">
                    <div class = "row">
                        <div class = "col-lg-10">
                            <h4>
                                <a title="">
                                    <h2><b>{{e.title}}</b>&nbsp&nbsp&nbsp
                                        <span style="display: inline;" class="page_container">
                                              <span class="page active" data-page="popModal">
                                                    <button class="edit-name-button" ng-click ="buldingRemoveExperience($index)" >
                                                          <img src ="./picture/remove.png"/>
                                                     </button>
                                              </span>
                                        </span>
                                    </h2>
                                </a>
                                <a href="#" title="">{{e.companyName}}</a>
                                <h4> {{e.startPeriod}} | {{e.endPeriod}} ({{e.duration}})
                                </h4>
                            </h4>
                        </div>

                        <div class = "col-lg-2">
                            <div class="col-lg-10">
                                <a href="{{e.companyUrl}}">
                                    <img ng-src="{{e.companyLogo}}" ng-alt="{{e.companyUrl}}"/>
                                </a>
                            </div>
                            <!-- button edit Summary -->
                                    <span style="display: inline;" class="page_container">
                                        <span class="page active" data-page="popModal" >
                                            <button id="editExperience-{{$index}}" class="edit-name-button" ng-click="editeditExperience($index)">
                                                 <img src = "./picture/edit.png">
                                            </button>
                                        </span>
                                    </span>

                        </div>
                    </div>
                    <h4 ng-bind-html="e.description">{{e.description}}</h4>
                    <br/><br/>
                </div>
            </div>
            <!--end  Experience-->



            <!--start  Volunteer Experience & Causes-->
            <div class = "container_background">
                    <div class = "row">
                        <div class = "col-lg-6">
                            <div class = "col-lg-2">
                                <img src="./picture/header-volunteerExperience.png" height="40" width="40" alt="summary">
                            </div>
                            <div class = "col-lg-10">
                                <h2 > Volunteer Experience & Causes </h2>
                            </div>
                        </div>
                    </div>

                <h2><b>Causes Jeff cares about:</b> &nbsp&nbsp&nbsp
                    <span style="display: inline;" class="page_container">
                           <span class="page active" data-page="popModal">
                                 <button id="addCausesCares" class="edit-name-button"} >
                                     <img src ="./picture/add.png"/>
                                 </button>
                           </span>
                    </span>
                </h2>

                <div class="editBox-container" ng-repeat="c in caredCauses">
                        <li style="list-style: circle;"> {{c}} &nbsp&nbsp&nbsp
                            <span style="display: inline;" class="page_container">
                               <span class="page active" data-page="popModal">
                                     <button class="edit-name-button" ng-click ="buldingRemoveCauseCare($index)" >
                                         <img src ="./picture/remove.png"/>
                                     </button>
                               </span>
                            </span>
                        </li>
                </div>
                <h2><b>Organizations Jeff supports</b> &nbsp&nbsp&nbsp
                    <span style="display: inline;" class="page_container">
                           <span class="page active" data-page="popModal">
                                 <button id="addSupports" class="edit-name-button"} >
                                       <img src ="./picture/add.png"/>
                                 </button>
                           </span>
                    </span>
                </h2>

                <div id="background-volunteerexp" class="editBox-container" ng-repeat="s in supportedOrganizations">
                    <a>
                        <li style="list-style: circle;"> {{s}} &nbsp&nbsp&nbsp
                            <span style="display: inline;" class="page_container">
                                   <span class="page active" data-page="popModal">
                                         <button class="edit-name-button" ng-click ="buldingRemoveSupport($index);" >
                                             <img src ="./picture/remove.png"/>
                                         </button>
                                   </span>
                            </span>
                        </li>
                    </a>
                </div>
            </div>
            <!--end  Volunteer Experience & Causes-->


            <!--start Skills-->
                  <div class = "container_background">
                       <div class = "row">
                           <div class = "col-lg-1">
                                <img src="./picture/header-skill.png" height="40" width="40" alt="summary">
                           </div>
                           <div class = "col-lg-4">
                                <h2> Skills &nbsp&nbsp&nbsp
                                    <span style="display: inline;" class="page_container">
                                           <span class="page active" data-page="popModal">
                                                 <button id="addSkill" class="edit-name-button"} >
                                                       <img src = "./picture/add.png"/>
                                                 </button>
                                           </span>
                                    </span>
                                </h2>
                           </div>
                       </div>

                       <h2> Top Skills </h2>
                      <div class="editBox-container" ng-repeat="s in skills">
                          <button type="button" class ="button4">{{s.endorsers}}</button>
                          <button type="button" class ="button3"><h4>{{s.name}}</h4></button>
                      </div>
                      <br/>
                      <h4>Jeff also knows about... </h4>
                      <span class="editBox-container" ng-repeat="os in otherSkills">
                          <span style="display: inline-block">
                              <button type="button" class ="button4">{{os.endorsers}}</button>
                              <button type="button" class ="button3"><h4>{{os.name}}</h4></button>
                          </span>
                      </span>
                  </div>
            <!--end Skills-->
                  <hr/>



            <!-- Start education -->
                  <div id = "id-education" class = "container_background">
                                                    <div class = "row">
                                                        <div class = "col-lg-1">
                                                            <img src="./picture/header-education.png" height="40" width="40" alt="summary">
                                                        </div>
                                                        <div class = "col-lg-4">
                                                            <h2> Education &nbsp&nbsp&nbsp
                                                            <span style="display: inline;" class="page_container">
                                                                <span class="page active" data-page="popModal">
                                                                            <button id="editEducation" class="edit-name-button" ng-click = "buldingTextEducation()">
                                                                                <img src = "./picture/edit.png">
                                                                            </button>
                                                                </span>
                                                            </span>
                                                            </h2>
                                                        </div>
                                                    </div>

                                                    <div class = "row">
                                                        <div class = "col-lg-10">
                                                            <a a href="#" title=""><h2><b> {{education.name}}</b></h2>	</a>
                                                            <h4>{{education.title}}<br/>{{education.startPeriod }} - {{education.endPeriod }} </h4>
                                                        </div>
                                                        <div class = "col-lg-2">
                                                            <img ng-src="{{education.logo}}" height="60" width="60" ng-alt="{{education.name}}"/>
                                                        </div>
                                                    </div>
                                                </div>
            <!-- Start education -->
                  <hr/>


            <!-- Start project-->
                 <div class = "container_background">
                                                    <div class = "row">
                                                        <div class = "col-lg-1">
                                                            <img src="./picture/project.png" height="40" width="40" alt="summary">
                                                        </div>
                                                        <div class = "col-lg-4">
                                                            <h2> Project &nbsp&nbsp&nbsp
                                                            <span style="display: inline;" class="page_container">
                                                                   <span class="page active" data-page="popModal">
                                                                         <button id="addProject" class="edit-name-button"} >
                                                                               <img src ="./picture/add.png"/>
                                                                         </button>
                                                                   </span>
                                                            </span>
                                                            </h2>
                                                        </div>
                                                    </div>
                                                <div class="editBox-container" ng-repeat="p in project">
                                                        <div class = "row">
                                                            <div class = "col-lg-10">
                                                                <h4>
                                                                    <a>
                                                                        <h2><b>{{p.name}} &nbsp&nbsp&nbsp</b>
                                                                            <span style="display: inline;" class="page_container">
                                                                                   <span class="page active" data-page="popModal">
                                                                                         <button class="edit-name-button" ng-click ="buldingRemoveProject($index)" >
                                                                                             <img src ="./picture/remove.png"/>
                                                                                         </button>
                                                                                   </span>
                                                                            </span>
                                                                        </h2>
                                                                    </a>

                                                                </h4>
                                                            </div>
                                                        </div>

                                                        <h4>{{p.describe}}</h4>
                                                            <br/><br/>
                                                 </div>
                                                </div>
            <!-- end project-->

        </div>

            <footer>
            </footer>
        </div>

   </div>

    <!--Div để show dialog rename -->
    <div style="display:none">
        <div id="rename" class="editName" >
            <p> Name </p>
            <input type ="text"  ng-model = "txt_name1"> </input>
            <input type ="text"  ng-model = "txt_name2">  </input>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveRename()">Save</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>

    <!--Div để show dialog curren work -->
    <div style="display:none">
        <div id="reCurenWork" class = "editCurrenWork">
            <p> Your professional headline </p>
            <input type ="text"  ng-model = "txt_currenWork"> </input>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveCurrenWork()">Save</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để show dialog summary -->
    <div style="display:none">
        <div id="reSummary" class = "editSummary">
            <p> Your summary </p>
            <textarea  ng-model = "txt_summary"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveSummary()">Save</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>

    <!--Div để add dialog cause care -->
    <div style="display:none">
        <div id="reAddCausesCares" class = "editCurrenWork">
            <p> Add cause care </p>
            <input type ="text"  ng-model = "txt_CauseCare"> </input>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingAddCauseCare()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để add Support -->
    <div style="display:none">
        <div id="reAddSupports" class = "editCurrenWork">
            <p> Add Support </p>
            <input type ="text"  ng-model = "txt_Support"> </input>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingAddSupport()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>

    <!--Div để edit education -->
    <div style="display:none">
        <div id="reEditEducation" class="editCurrenWork">
            <h1> Edit Education </h1>
            <h4> Name school </h4>
            <input type ="text"  ng-model = "txt_nameSchool"> </input>
            <h4> Address school </h4>
            <input type ="text"  ng-model = "txt_addressSchool"> </input>
            <h4> Start Courses </h4>
            <input type ="text"  ng-model = "txt_startCourses"> </input>
            <h4> End Courses </h4>
            <input type ="text"  ng-model = "txt_endCourses"> </input>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click = "buldingSaveEducation()">Save</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>

    <!--Div để add project -->
    <div style="display:none">
        <div id="reAddProject" class = "addPriject">
            <p> Add Project </p>
            <h4> Name Project</h4>
            <input type ="text"  ng-model = "txt_NameProject"> </input>
            <h4> Describe Project</h4>
            <textarea type ="text"  ng-model = "txt_Describe"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingAddProject()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>

    <!--Div để add skill -->
    <div style="display:none">
        <div id="reAddSkill" class = "addPriject">
            <p> Add Skill (Name, Point)</p>
            <h4> Name Skill</h4>
            <input type ="text"  ng-model = "txt_NameSkill"> </input>
            <h4> Point Skill</h4>
            <input type ="text"  ng-model = "txt_PointSkill"> </input>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingAddSkill()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>

    <!--Div để add Experience -->
    <div style="display:none">
        <div id="reAddExperience" class = "addPriject">
            <p> Add Experience (Name, Point)</p>
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_CompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_Title"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_StartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_endPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_duration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_description"> </textarea>

            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingAddExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>

    <!--Div để edit  Work -->
    <div style="display:none">
        <div id="reEditWork" class = "addPriject">
            <input type ="text"  ng-model = "txt_Location"> </input>
            <input type ="text"  ng-model = "txt_industry"> </input>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveWork()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>

    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-0" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience($index)">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-1" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-2" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-3" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-4" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-5" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-6" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-7" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-8" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-9" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-10" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-11" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Add</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>
    <!--Div để experience  Work -->
    <div style="display:none">
        <div id="reEditExperience-12" class = "addPriject">
            <h4> Company Name</h4>
            <input type ="text"  ng-model = "txt_editCompanyName"> </input>
            <h4> Work </h4>
            <input type ="text"  ng-model = "txt_editTitle"> </input>
            <h4> Start Period</h4>
            <input type ="text"  ng-model = "txt_editStartPeriod"> </input>
            <h4> End Period</h4>
            <input type ="text"  ng-model = "txt_editendPeriod"> </input>
            <h4> Duration</h4>
            <input type ="text"  ng-model = "txt_editduration"> </input>
            <h4> Description</h4>
            <textarea type ="text"  ng-model = "txt_editDescription"> </textarea>
            <div class="popModal_footer">
                <button type="button" class="btn btn-primary" data-popmodal-but="ok" ng-click ="buldingSaveExperience()">Save</button>
                <button type="button" class="btn btn-default" data-popmodal-but="cancel">cancel</button>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            $('#editName').click(function(){
                $('#editName').popModal({
                    html : $('#rename'),
                    placement : 'right',
                    showCloseBut : true,
                    onDocumentClickClose : true,
                    onDocumentClickClosePrevent : '',
                    overflowContent : false,
                    inline : true,
                    asMenu : false,
                    beforeLoadingContent : 'Please, wait...',
                    onCancelBut : function() {},
                    onLoad : function() {},
                    onClose : function() {}
                });
            });

            $('#editCurrenWork').click(function(){
                $('#editCurrenWork').popModal({
                    html : $('#reCurenWork'),
                    placement : 'right',
                    showCloseBut : true,
                    onDocumentClickClose : true,
                    onDocumentClickClosePrevent : '',
                    overflowContent : false,
                    inline : true,
                    asMenu : false,
                    beforeLoadingContent : 'Please, wait...',
                    onCancelBut : function() {},
                    onLoad : function() {},
                    onClose : function() {}
                });
            });

            $('#editSummary').click(function(){
                $('#editSummary').popModal({
                    html : $('#reSummary'),
                    placement : 'right',
                    showCloseBut : true,
                    onDocumentClickClose : true,
                    onDocumentClickClosePrevent : '',
                    overflowContent : false,
                    inline : true,
                    asMenu : false,
                    beforeLoadingContent : 'Please, wait...',
                    onCancelBut : function() {},
                    onLoad : function() {},
                    onClose : function() {}
                });
            });

            $('#addCausesCares').click(function(){
                $('#addCausesCares').popModal({
                    html : $('#reAddCausesCares'),
                    placement : 'right',
                    showCloseBut : true,
                    onDocumentClickClose : true,
                    onDocumentClickClosePrevent : '',
                    overflowContent : false,
                    inline : true,
                    asMenu : false,
                    beforeLoadingContent : 'Please, wait...',
                    onCancelBut : function() {},
                    onLoad : function() {},
                    onClose : function() {}
                });
            });

            $('#addSupports').click(function(){
                $('#addSupports').popModal({
                    html : $('#reAddSupports'),
                    placement : 'right',
                    showCloseBut : true,
                    onDocumentClickClose : true,
                    onDocumentClickClosePrevent : '',
                    overflowContent : false,
                    inline : true,
                    asMenu : false,
                    beforeLoadingContent : 'Please, wait...',
                    onCancelBut : function() {},
                    onLoad : function() {},
                    onClose : function() {}
                });
            });

            $('#editEducation').click(function(){
                $('#editEducation').popModal({
                    html : $('#reEditEducation'),
                    placement : 'right',
                    showCloseBut : true,
                    onDocumentClickClose : true,
                    onDocumentClickClosePrevent : '',
                    overflowContent : false,
                    inline : true,
                    asMenu : false,
                    beforeLoadingContent : 'Please, wait...',
                    onCancelBut : function() {},
                    onLoad : function() {},
                    onClose : function() {}
                });
            });

            $('#addProject').click(function(){
                $('#addProject').popModal({
                    html : $('#reAddProject'),
                    placement : 'right',
                    showCloseBut : true,
                    onDocumentClickClose : true,
                    onDocumentClickClosePrevent : '',
                    overflowContent : false,
                    inline : true,
                    asMenu : false,
                    beforeLoadingContent : 'Please, wait...',
                    onCancelBut : function() {},
                    onLoad : function() {},
                    onClose : function() {}
                });
            });

            $('#addSkill').click(function(){
                $('#addSkill').popModal({
                    html : $('#reAddSkill'),
                    placement : 'right',
                    showCloseBut : true,
                    onDocumentClickClose : true,
                    onDocumentClickClosePrevent : '',
                    overflowContent : false,
                    inline : true,
                    asMenu : false,
                    beforeLoadingContent : 'Please, wait...',
                    onCancelBut : function() {},
                    onLoad : function() {},
                    onClose : function() {}
                });
            });

            $('#addExperience').click(function(){
                $('#addExperience').popModal({
                    html : $('#reAddExperience'),
                    placement : 'right',
                    showCloseBut : true,
                    onDocumentClickClose : true,
                    onDocumentClickClosePrevent : '',
                    overflowContent : false,
                    inline : true,
                    asMenu : false,
                    beforeLoadingContent : 'Please, wait...',
                    onCancelBut : function() {},
                    onLoad : function() {},
                    onClose : function() {}
                });
            });

            $('#editWork').click(function(){
                $('#editWork').popModal({
                    html : $('#reEditWork'),
                    placement : 'right',
                    showCloseBut : true,
                    onDocumentClickClose : true,
                    onDocumentClickClosePrevent : '',
                    overflowContent : false,
                    inline : true,
                    asMenu : false,
                    beforeLoadingContent : 'Please, wait...',
                    onCancelBut : function() {},
                    onLoad : function() {},
                    onClose : function() {}
                });
            });

        });
    </script>

</body>
</html>